<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
    <div>
    <img src= './static/wordc_all.png' alt="Chart" height="300" width="500">
    <img src= './static/wordc_negative.png' alt="Chart" height="300" width="500">
    <img src= './static/T1.png' alt="Chart" height="300" width="500">
    <img src= './static/T1.png' alt="Chart" height="300" width="500">
     </div>

</body>
</html>